if ARCH_GPL32900

menu "GPL32900 Options"

config MACH_GPL32900
	bool "GPL32900 (Platform)"
	select CPU_V6

config SERIAL_GPL32900
	bool "GPL32900 serial port support"
	depends on ARM && ARCH_GPL32900
	select SERIAL_CORE
	help
	  ABCDEF

config SERIAL_GPL32900_CONSOLE
	bool "Console on GPL32900 serial port"
	depends on SERIAL_GPL32900
	select SERIAL_CORE_CONSOLE
	help
    ABCDE

config DEFCONFIG_GPL32900
	string "Kernel defconfig file"

endmenu
endif
